Repository azu/confirm-pam, changes with the owners that CODEOWNERS names for each.
All owners: @macos-team, @linux-team, @windows-team, @build-team, @security-team, @docs-team

Update README.md
  README.md
Owners: @docs-team

chore: release v0.1.1
  CHANGELOG.md
  Cargo.toml
Owners: @docs-team

chore: switch to actions-rust-lang/setup-rust-toolchain
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
  docs/CI_HOMEBREW_UPDATE.md
Owners: @docs-team

Update .github/workflows/ci.yml+1
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: none

chore: release v0.2.0
  CHANGELOG.md
  Cargo.toml
  tests/cli_test.rs
Owners: @docs-team

fix: add contents write permission to release workflow
  .github/workflows/release.yml
Owners: none

fix: add missing platform module files for rustfmt
  src/auth/mod.rs
  src/platform/linux/mod.rs
  src/platform/macos/mod.rs
  src/platform/mod.rs
  src/platform/windows/mod.rs
Owners: @security-team, @linux-team, @macos-team, @windows-team

fix: improve Homebrew formula update workflow and add release docs
  .github/workflows/update-homebrew.yml
  README.md
Owners: @docs-team

fix: simplify Homebrew workflow asset URL handling
  .github/workflows/update-homebrew.yml
Owners: none

fix: add required permissions to Homebrew update workflow
  .github/workflows/update-homebrew.yml
Owners: none

chore: update Homebrew formula to v0.2.0
  Formula/confirm-pam.rb
Owners: none

docs: update release process with semi-automated Homebrew workflow
  README.md
Owners: @docs-team

feat: add fully automated release workflow
  .github/workflows/auto-release.yml
  README.md
Owners: @docs-team

refactor: rename auto-release to create-release workflow
  .github/workflows/release-workflow.yml
  README.md
Owners: @docs-team

fix: simplify release workflow and remove CHANGELOG automation
  .github/workflows/release-workflow.yml
  CHANGELOG.md
  README.md
Owners: @docs-team

style: standardize formatting in release workflow YAML
  .github/workflows/release-workflow.yml
Owners: none

chore: release v0.3.0
  Cargo.toml
Owners: none

refactor: 統合されたリリースワークフローの実装
  .github/workflows/release-workflow.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
Owners: none

chore: release v0.3.1
  Cargo.toml
Owners: none

fix: update-homebrewジョブでmainブランチの最新変更をpull
  .github/workflows/release-workflow.yml
Owners: none

chore: release v0.3.2
  Cargo.toml
Owners: none

chore: update Homebrew formula to v0.3.2
  Formula/confirm-pam.rb
Owners: none

refactor: HomebrewサポートからCrates.ioリリースに移行
  .github/workflows/release-workflow.yml
  Cargo.toml
  Formula/confirm-pam.rb
  Makefile
  README.md
  scripts/release.sh
Owners: @docs-team

chore: release v0.4.0
  Cargo.toml
Owners: none

chore: release v0.5.0
  Cargo.toml
Owners: none

chore: release v0.6.0
  Cargo.toml
Owners: none

Refactor code structure for improved readability and maintainability
  README.md
  image.png
Owners: @docs-team

docs: README.mdにzshの例を追加
  README.md
Owners: @docs-team

fix: 修正メッセージを日本語に変更し、認証失敗時の指示を追加
  README.md
Owners: @docs-team

fix: 英語のエラーメッセージに変更し、コミット拒否の理由を明確化
  README.md
Owners: @docs-team

fix: 認証失敗時のメッセージを修正し、ユーザーに待機を促す文言を追加
  README.md
Owners: @docs-team

fix: 認証失敗時のメッセージを改善し、ユーザーに指示を明確化
  README.md
Owners: @docs-team

docs: README\u3092\u30af\u30ea\u30fc\u30f3\u30a2\u30c3\u30d7 - \u5b9f\u5728\u3057\u306a\u3044\u30ea\u30f3\u30af\u3084\u4e0d\u6b63\u78ba\u306a\u60c5\u5831\u3092\u4fee\u6b63
  README.md
Owners: @docs-team

Refactor code structure for improved readability and maintainability
  ISSUES.md
  README.md
  docs/CI_HOMEBREW_UPDATE.md
  docs/dialog.png
  docs/no-verify.png
Owners: @docs-team

fix: READMEのダイアログ表示に関する誤字を修正
  README.md
Owners: @docs-team

docs: Update README
  README.md
Owners: @docs-team

CODEOWNERS:

# Platform-specific code ownership
/src/platform/macos/    @macos-team
/src/platform/linux/    @linux-team
/src/platform/windows/  @windows-team

# Build configuration
/build.rs               @build-team

# Core authentication logic
/src/auth/              @security-team

# Documentation
*.md                    @docs-team
